<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="FlightHttpBinding" messageEncoding="Mtom">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <serviceCertificate>
              <defaultCertificate storeLocation="LocalMachine"
                     storeName="Root"
                     findValue="FlightTickets"
                     x509FindType="FindBySubjectName"/>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://192.168.1.2:8733/WCFWebService/FlightTickets/"
        binding="wsHttpBinding" bindingConfiguration="FlightHttpBinding"
        contract="FlightTickets.IFlightTickets" name="FlightHttpBinding">
        <identity>
          <dns value="FlightTickets" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>
